<% provide(:title, "About") %>
<h1><%= t('about.title') %></h1>
<p>
  <a href="https://railstutorial.jp/"><%= t('about.text1') %></a>
  <%= t('about.text2') %> <a href="https://railstutorial.jp/#ebook"><%= t('about.text3') %></a> <%= t('about.text4') %>
  <a href="https://railstutorial.jp/screencast"><%= t('about.text5') %></a>
  <%= t('about.text6') %>
  <a href="https://rubyonrails.org/"><%= t('about.text7') %></a><%= t('about.text8') %>
  <%= t('about.text9') %>
</p>

<p>
  <%= t('about.text10') %>
  <ul>
    <li>foo</li>
    <li>bar</li>
    <li>bazz</li>
  </ul>
</p>
