<% provide(:title, "Help") %>
<h1><%= t('help.title') %></h1>
<p>
  <%= t('help.text1') %>
  <a href="https://railstutorial.jp/help"><%= t('help.text2') %></a>.
  <%= t('help.text3') %>
  <a href="https://railstutorial.jp/#ebook"><%= t('help.text4') %></a>
  <%= t('help.text5') %>
</p>
