<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>

  <% if user.introduction.present? %>
    <br>
    <span class="introduction"><%= truncate(user.introduction, length: 100) %></span>
  <% end %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, data: { "turbo-method": :delete,
                                          turbo_confirm: "You sure?" } %>
  <% end %>
  <br>

  <class = "stats">
    
    <strong>Following:</strong> <%= user.following.count %> |
    <strong>Followers:</strong> <%= user.followers.count %>
  
  
</li>
