<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <% if @user.introduction.present? %>
      <section class="Introduction">
        <h4>Introduction</h4>
        <p><%= @user.introduction %></p>
      </section>
    <% end %>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <!-- <%= render 'follow_form' if logged_in? %> -->
    <!-- Show pinned post first if it exists -->
    <% if @pinned_micropost %>
      <div class="pinned-post-container mb-4">
        <h5 class="text-muted mb-2">📌 Pinned Post</h5>
        <ol class="microposts list-unstyled">
          <%= render @pinned_micropost %>
        </ol>
      </div>
      <hr>
    <% end %>
    
    <!-- Show regular posts -->
    <% if @microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts list-unstyled">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>

